<div class="modal-content">

  <div class="modal-body">
    <div class="alert alert-success" role="alert">
      <strong>Decide!</strong> Check the columns which are important for the disease.
    </div>

    <table class="table table-striped" [mfData]="rows" #mf="mfDataTable">
      <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="age">Age</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="zip">ZIP Code</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="gender">Gender</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="country">Country</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="skin">Skin</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="disease">➡ Disease</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td [class.bold]="ageSelected">{{item.age}}</td>
          <td [class.bold]="zipSelected">{{item.zip}}</td>
          <td [class.bold]="genderSelected">{{item.gender}}</td>
          <td [class.bold]="countrySelected">{{item.country}}</td>
          <td [class.bold]="skinSelected">{{item.skin}}</td>
          <td>{{item.disease}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><input type="checkbox" [(ngModel)]="ageSelected"></td>
          <td><input type="checkbox" [(ngModel)]="zipSelected"></td>
          <td><input type="checkbox" [(ngModel)]="genderSelected"></td>
          <td><input type="checkbox" [(ngModel)]="countrySelected"></td>
          <td><input type="checkbox" [(ngModel)]="skinSelected"></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="ok()">OK</button>
  </div>

</div>
