<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Interactive Machine Learning</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>By starting the machine learning you will be shown alerts, where you should decide!</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="startLearning()">Start machine learning</button>
    </div>
  </div>

  <div class="row margin-top-05">
    <div class="col-md-12">
      <progressbar class="progress-striped active" [value]="progressValue" type="success" max="100">
      </progressbar>
    </div>
  </div>

</div>

<div *ngIf="isModalShown" [config]="{ show: true }" (onShown)="onShown()" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-full-width">
    <app-interactive (onOk)="onInteractiveOk($event)"></app-interactive>
  </div>
</div>
