<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Interactive Machine Learning</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>By starting the machine learning you will be shown alerts, where you should decide!</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="startLearning()">Start machine learning</button>
    </div>
  </div>

  <div class="row margin-top-05">
    <div class="col-md-12">
      <progressbar class="progress-striped active" [value]="progressValue" type="success" max="100">
      </progressbar>
    </div>
  </div>

</div>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Auto shown modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <strong>Decide!</strong> Which anonymization fits better?
        </div>

        <div class="page-header">
          <h4>Anonymization A</h4>
        </div>
        <table class="table table-striped" [mfData]="rows" #mf="mfDataTable">
          <thead>
            <tr>
              <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                <mfDefaultSorter by="zip">ZIP Code</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="gender">Gender</mfDefaultSorter>
              </th>
              <th style="width: 25%">
                <mfDefaultSorter by="country">Country</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                <mfDefaultSorter by="skin">Skin</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data">
              <td>{{item.age}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.country}}</td>
              <td>{{item.skin}}</td>
            </tr>
          </tbody>
        </table>

        <div class="page-header">
          <h4>Anonymization B</h4>
        </div>
        <table class="table table-striped" [mfData]="rows" #mf2="mfDataTable">
          <thead>
            <tr>
              <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                <mfDefaultSorter by="zip">ZIP Code</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="gender">Gender</mfDefaultSorter>
              </th>
              <th style="width: 25%">
                <mfDefaultSorter by="country">Country</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                <mfDefaultSorter by="skin">Skin</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf2.data">
              <td>{{item.age}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.country}}</td>
              <td>{{item.skin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
