<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 35%">Column</th>
      <th style="width: 50%">Manual weight vector</th>
      <th style="width: 15%">Adjusted Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Age</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueAge" (ngModelChange)="valueChange($event)"></td>
      <td>{{adjustedAge}}</td>
    </tr>
    <tr>
      <td>Education</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueEducation"></td>
      <td>{{adjustedEducation}}</td>
    </tr>
    <tr>
      <td>h/week</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueWorkTime"></td>
      <td></td>
    </tr>
    <tr>
      <td>Native Country</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueCountry"></td>
      <td></td>
    </tr>
    <tr>
      <td>Sex</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueSex"></td>
      <td></td>
    </tr>
    <tr>
      <td>Relationship</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueRelationship"></td>
      <td></td>
    </tr>
    <tr>
      <td>Occupation</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueOccupation"></td>
      <td></td>
    </tr>
    <tr>
      <td>Income</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueIncome"></td>
      <td></td>
    </tr>
    <tr>
      <td>Race</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueRace"></td>
      <td></td>
    </tr>
    <tr>
      <td>Marital status</td>
      <td><input type="range" min="1" max="100" [(ngModel)]="valueMarital"></td>
      <td></td>
    </tr>
  </tbody>
</table>
